<!-- views/paymentForm.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>支付</title>
</head>
<body>
    <form action="/payment/create" method="post">
        <label for="amount">金额:</label>
        <input type="number" id="amount" name="TotalAmount" required><br><br>

        <label for="description">交易描述:</label>
        <input type="text" id="description" name="TradeDesc" required><br><br>

        <label for="itemName">商品名称:</label>
        <input type="text" id="itemName" name="ItemName" required><br><br>

        <input type="submit" value="提交">
    </form>
</body>
</html>
